<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:locale" content="en_US"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta property="og:description" content="{{ site.description }}"/>
    <link rel="canonical" href="http://localhost:4000/"/>
    <meta property="og:url" content="http://localhost:4000/"/>
    <meta property="og:site_name" content="{{ page.title }}"/>
    <meta property="og:type" content="website"/>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "description": "{{ site.description }}",
            "headline": "{{ page.title }}",
            "name": "{{ page.title }}",
            "url": "http://localhost:4000/"
        }
    </script>
    <link rel="stylesheet" href="/assets/main.css">
    <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="{{ page.title }}"/>
</head>
